/node_modules
/storage/*
/vendor
.env
.zip
.env.backup
.phpunit.result.cache
.history
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.htaccess
/.idea
/.vscode
public/assets/js/app-central-admin.min.js
public/assets/js/app-central.min.js
public/assets/js/app-tenant.min.js
public/assets/js/app.min.js
public/images/profiles
public/tarmac_tests555
public/phpmyadmin-just-775
.bak
