body {
    height: 100vh;
    overflow: hidden;
}

.card {
    -webkit-box-shadow: none;
    box-shadow: none;

}

.resource-controls {
    padding-top: 5px;
    padding-left: 5px;
}

.resource-controls label {
    margin-right: 25px;
}

.resource-controls label input {
    position: absolute;
    bottom: 7px;
    margin-left: 3px;
}

div#gantt_here {
    overflow: hidden;
}

.gantt_grid_scale .gantt_grid_head_cell,
.gantt_task .gantt_task_scale .gantt_scale_cell {
    color: var(--bs-body-color);
}
.gantt_tree_content {
    overflow:hidden;
    text-overflow: ellipsis;
}
.gantt_container,
.gantt_tooltip {
    background-color: #fff;
    font-family: var(--bs-body-font-family);
}

/* move task lines upper */
.gantt_task_line,
.gantt_line_wrapper {
    margin-top: -9px;
}

.gantt_side_content {
    margin-bottom: 7px;
}

.gantt_task_link .gantt_link_arrow {
    margin-top: -12px
}

.gantt_side_content.gantt_right {
    bottom: 0;
}

.dropdown-item {
    cursor: pointer;
}

.baseline {
    position: absolute;
    border-radius: 2px;
    opacity: 0.6;
    margin-top: -2px;
    height: 8px;
    background: #f90;
}

.baselinehide {
    display: none;
}
/*
.gantt_task_line.gantt_dependent_task {
    background-color: #65c16f;
    border: 1px solid #3c9445;
}

.gantt_task_line.gantt_dependent_task .gantt_task_progress {
    background-color: #46ad51;
}
*/
.hide_project_progress_drag .gantt_task_progress_drag {
    visibility: hidden;
}

.gantt_task_progress {
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
}

div#activity {
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    height: calc(100vh - 0px);
    width: 100%;
    max-width: 300px;
    background: #fff;
    border-left: solid 1px #cecece;
    padding: 20px 0px;
}

.activity-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 20px;
}

.activity-title {
    width: 40%;
}

.activity-action button {
    background: none;
    border: 0;
    outline: none;
    box-shadow: none;
    margin-right: 20px;
}

.activity-action button:last-child {
    margin-right: 0;
}

.activitySearchBox {
    padding: 20px;
}

.activityDetailList {
    overflow: hidden;
    height: calc(100% - 115px);
}

.activityDetailList ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
}

.activityDetailList ul li {
    position: relative;
    border-bottom: solid 1px #eee;
    padding: 20px 20px;
}

.activityDetailList li:hover,
focus {
    background: aliceblue;
}

.activityDetail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}

.activityDetailList p {
    font-size: 11px;
    margin-bottom: 10px;
}

.activityDetailList p: hover,
focus {
    color: #333;
}

.activityDetail-img {
    width: 40%;
}

.activityDetail-img img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.activityDetail-time {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.activityDetail-time h4 {
    font-size: 12px;
    color: #2e2e2e;
    font-weight: 400;
    margin: 0;
}

.activityDetailList ul::-webkit-scrollbar {
    width: 10px;
}

#activity.zoomActivity {
    max-width: 100%;
    height: 100%;
    padding: 30px 50px;
}

#activity.zoomActivity .inner-activity-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 100%;
}

#activity.zoomActivity .activitySideWrapper {
    width: 30%;
}

#activity.zoomActivity .activityDetailList {
    width: 70%;
    overflow: hidden;
}

#activity.zoomActivity button.zoomBtn {
    display: none;
}

#activity button.removeZoomBtn {
    display: none;
}

#activity.zoomActivity button.removeZoomBtn,
#activity button.zoomBtn {
    display: block;
}

#activity.zoomActivity .activity-header {
    padding: 0;
    padding-right: 40px;
}

#activity.zoomActivity .activitySearchBox {
    padding: 0;
    padding-right: 40px;
}

#activity.zoomActivity .activityDetailList ul li {
    padding: 20px 40px;
    padding-right: 0;
}

#activity.zoomActivity .activityDetailList {
    height: 100%;
}

a.edit-calendar {
    cursor: pointer;
}

i.mdi.mdi-pencil.font-size-20.edit-calendar:hover,
focus {
    cursor: pointer;
    color: #f1b44c;
}


.resource_marker {
    text-align: center;
}

.resource_marker div {
    width: 28px;
    height: 28px;
    line-height: 29px;
    display: inline-block;
    color: #FFF;
    margin: 3px;
}

.resource_marker.workday_ok div {
    border-radius: 15px;
    background: #51c185;
}

.resource_marker.workday_over div {
    border-radius: 3px;
    background: #ff8686;
}

.folder_row {
    font-weight: bold;
}

.gantt_grid_data .gantt_row.odd:hover, .gantt_grid_data .gantt_row:hover {
    background-color: rgba(255, 251, 224, 0.4) !important;
}
.gantt_grid_data .gantt_row.gantt_selected, .gantt_grid_data .gantt_row.odd.gantt_selected, .gantt_task_row.gantt_selected {
    background-color: rgba(255, 251, 224, 0.8) !important;
}
.highlighted_resource,
.highlighted_resource.odd {
    background-color: rgba(255, 251, 224, 0.8) !important;
}

.resource-controls .gantt_layout_content {
    overflow: hidden;
}

.resource-controls label {
    margin: 0 10px;
    vertical-align: bottom;
    display: inline-block;
    color: #3e3e3e;
    padding: 2px;
    transition: box-shadow 0.2s;
}

.resource-controls label:hover {
    box-shadow: 0 2px rgba(84, 147, 255, 0.42);
}

.resource-controls label.active,
.resource-controls label.active:hover {
    box-shadow: 0 2px #5493ffae;
    color: #1f1f1f;
}

.resource-controls input {
    vertical-align: top;
}

.gantt_task_cell.week_end {
    background-color: #e8e8e87d;
}

.gantt_task_row.gantt_selected .gantt_task_cell.week_end {
    background-color: #e8e8e87d !important;
}

.owner-label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 25px;
    background: #e6e6e6;
    color: #6f6f6f;
    margin: 0 3px;
    font-weight: bold;
}

input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}

.gantt_container {
    background-color: #ffffff; /* #ecf4f7 !important; */
    border: none !important;
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--bs-body-font-size) !important;
    font-weight: var(--bs-body-font-weight);
}

.gantt_grid_scale, .gantt_task_scale, .gantt_grid_scale .gantt_grid_head_cell, .gantt_task .gantt_task_scale .gantt_scale_cell, .gantt_grid_data .gantt_cell {
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--bs-body-font-size) !important;
    font-weight: var(--bs-body-font-weight);
}
.gantt_grid_head_cell.gantt_grid_head_add.gantt_last_cell {
    background-color: #eff2f7;
    border-radius: 100%;
    height: 43px;
}
.gantt_grid_column_resize_wrap .gantt_grid_column_resize {
    background-color: #fff !important;
    width: 3px;
}
.gantt_grid_column_resize_wrap:hover {
    background: antiquewhite;
}

.gantt_resizer_x .gantt_resizer_x {
    width: 13px;
}
.gantt_layout_content.gantt_resizer_x.gantt_grid_resize_wrap:hover {
    background: antiquewhite;
}
.gantt_layout_cell_border_right {
  border: none;
}
.gantt_resizer_stick {
    background: antiquewhite;
    width: 2px;
}
.gantt_layout_cell_border_bottom {
    border-bottom: none;
}
.gantt_resizer_y:hover {
    background: antiquewhite;
}

.gantt_grid_head_cell {

}
.gantt_grid_scale, .gantt_task_scale, .gantt_scale_line {
    border: none;
    background: #eff2f7;
    height: 40px !important;
    line-height: 40px !important;
}
.gantt_task .gantt_task_scale .gantt_scale_cell {
    border-right: 1px solid #fff;
}


.gantt_task_progress_wrapper,
.gantt_task_progress_drag {
  display: none !important;
}
.gantt_message_area {
  z-index: 999999;
}

.gantt_task_line.gantt_project {
    background-color: #252b3b !important;
    border: 1px solid #252b3b !important;
}
.gantt_task_line.gantt_project.gantt_selected {
    box-shadow: none;
}
.gantt_task_line.gantt_task_inline_color.gantt_project.gantt_selected, .gantt_task_line.gantt_task_inline_color.gantt_selected {
    box-shadow: none;
}
.gantt_task_line.gantt_project.gantt_task_line:before {
    position: absolute;
    height: 0;
    width: 0;
    border: 0;
    border-color: inherit;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-style: solid;
    bottom: -8px;
    left: -1px;
    border-width: 8px 8px 0 0;
    content: ' ';
    color: inherit;
}
.gantt_task_line.gantt_project.gantt_task_line:after {
    position: absolute;
    height: 0;
    width: 0;
    border: 0;
    border-color: inherit;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-style: solid;
    bottom: -8px;
    right: -1px;
    border-width: 8px 0 0 8px;
    content: ' ';
    color: inherit;
}
.gantt_task_line.gantt_task_inline_color {
    border: none;
}
.gantt_task_line.gantt_critical_task {
    background: #000 !important;
    border-color: #000 !important;
}
.gantt_project.gantt_critical_task {
    background: #e63030 !important;
    border-color: #e63030 !important;
}

.gantt_tree_icon.gantt_folder_open,
.gantt_tree_icon.gantt_folder_closed,
.gantt_tree_icon.gantt_file
{
    display: none;
}
.gantt_tree_icon.gantt_close,
.gantt_tree_icon.gantt_open
{
    background: none;
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 30px !important;
  text-align: center;
}
.gantt_tree_icon.gantt_close:before {
content: "\F0143";
font-size: 18px;
}
.gantt_tree_icon.gantt_open:before {
content: "\F0140";
font-size: 18px;
}

.gantt_grid_head_cell.gantt_grid_head_add.gantt_last_cell
{
    background: none;
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons" !important;
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
    vertical-align: bottom;
  height: 40px;
  line-height: 40px !important;
}
.gantt_grid_head_cell.gantt_grid_head_add.gantt_last_cell:before {
    content: "\F0417";
    font-size: 24px;
    color: #252b3b !important;
}
.gantt_cell.gantt_last_cell {
  text-align: center;
}
.gantt_add
{
    background: none;
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons" !important;
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
    vertical-align: bottom;
    padding-top: 4px;
}
.gantt_add:before {
    content: "\F0419";
    font-size: 18px;
    color: #252b3b !important;
}

.gantt-file-hover {
    background: #ecf4f7;
    padding: 0;
  z-index: 99999;
}
.gantt-file-hover-inner {
  border: none;
}
.gantt-file-hover-content-upload-message {
    font-size: 1.5em;
    font-family: inherit;
    padding: 0;
}
.gantt-file-upload-spinner-inner {
    color: #2a3042;
}

.gantt_layout_cell.gantt_layout_root.gantt_layout.gantt_layout_y.gantt_container.gantt_layout_cell_border_left.gantt_layout_cell_border_top.gantt_layout_cell_border_right.gantt_layout_cell_border_bottom {
        margin-left: -8px !important;
}
.gantt_layout_cell_border_top {
    border: none;
}







*::-webkit-scrollbar-track {
    background: #fff;
}
*::-webkit-scrollbar-thumb {
    border: 4px solid #fff;
}

